@{
    ViewData["Title"] = "Thông Báo";
}

<h1 class="mt-4 mb-3 text-secondary">Thông Tin Học Phần Đã Lưu</h1>

<a asp-action="ListHP" asp-controller="HocPhan" class="text-decoration-none">Về trang chủ</a>

<div class="mt-5 pt-3 border-top text-muted">

</div>